.main-container {
  padding: 3rem;
}

.btn-main {
  padding: 0.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  max-width: 150px;
  margin-block: 0.5rem;
}

.btn-primary {
  background-color: crimson;
}

.btn-secondary {
  background-color: rgb(85, 85, 247);
}

.user-details-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-details-form > input {
  padding: 0.5rem;
}
