.user-list-container {
  padding: 3rem;
  margin-inline: auto;
  max-width: 30%;
}

.btn-main {
  padding: 0.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  max-width: 150px;
  margin-block: 0.5rem;
}

.btn-primary {
  background-color: crimson;
}

.btn-secondary {
  background-color: rgb(85, 85, 247);
}

.disable-btn {
  background-color: rgb(204, 195, 195);
  color: white;
}

.user-details-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-item-container > label {
  display: block;
  font-size: 12px;
}

.form-item-container > input {
  padding: 0.5rem;
  border: 1px solid rgb(204, 195, 195);
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 10px;
  margin: 0;
}
